.details_image_main {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
}
.details_product_price {
    position: absolute;
    bottom: 15%;
    right: 15%;
    padding: 10px;
    color: #000000;
    background-color: #FFFFFF;
    text-align: right;
}
.contact_address {
    width: 260px;
    padding: 20px;
    /* height: 260px; */
    margin: 20px auto 0px auto;
    background: #fff;
    opacity: 0.9;
}